<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/dashboard.css" />
  </head>
  <body>
    <div class="container">
      <ul class="nav">
        <div class="nav_icon">
          <i class="fa-solid fa-screwdriver-wrench"></i> Device Manager
        </div>
        <li>
          <i class="fa-solid fa-house"></i>
          <span>Dashboard</span>
        </li>
        <li><i class="fa-solid fa-clock-rotate-left"></i> <span>Logs</span></li>
        <li>
          <i class="fa-solid fa-gear"></i>
          <span>Settings</span>
        </li>
      </ul>
      <div class="main_content">
        <div class="user">
          <div class="user_info">
            <i class="fa-solid fa-circle-user user_icon"></i>
            <span class="user_message">sassssssss</span>
            <div class="logout">Log out</div>
          </div>
        </div>
        <div class="content">
          <table class="table">
            <tr>
              <th>Devices</th>
              <th>MAC Address</th>
              <th>IP</th>
              <th>Created Date</th>
              <th>Power Consumption(Kw/H)</th>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td colspan="4">Total</td>
              <td>290</td>
            </tr>
          </table>
          <div class="sub_content">
            <div class="chart_container">
              <canvas id="chart"></canvas>
            </div>
            <form class="device_form">
              <input
                type="text"
                name="device_name"
                class="device_name input_text"
                placeholder="name"
                id="device-name"
                required
              />
              <p id="device_name--text"></p>
              <input
                type="text"
                name="IP"
                class="IP input_text"
                placeholder="IP"
                id="IP"
                required
              />
              <p id="IP-text"></p>
              <div class="add_device">
                <input type="submit" value="ADD DEVICE" class="add_btn" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/dashboard.js"></script>
  </body>
</html>
